# ENCODING
#THIS IS THE METHOD TO CONVERT CATEGORICAL DATA INTO NUMERICAL DATA

In [1]:
#(1).LABELENCODING====>USING THIS METHOD , we can convert our target or one dimensional data

In [45]:
import numpy as np
import pandas as pd

In [46]:
df=pd.read_csv("C:\\Users\\us\\OneDrive\\Desktop\\regexml\\covid_toy.csv")

In [47]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [48]:
df=df.dropna()

In [49]:
from sklearn.preprocessing import LabelEncoder

In [50]:
lb=LabelEncoder()

In [51]:
df['gender']=lb.fit_transform(df['gender'])
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [52]:
df.sample(5)

    age  gender  fever  cough  city  has_covid
24   13       0  100.0      1     2          0
60   24       0  102.0      1     0          1
33   26       0   98.0      0     2          0
8    19       0  100.0      1     0          0
65   69       0  102.0      0     0          0

In [53]:
from sklearn.preprocessing import StandardScaler

In [54]:
sc=StandardScaler()

In [55]:
df_sc=sc.fit_transform(df)

In [56]:
df_sc

array([[ 0.69167104,  1.22474487,  1.05484645, -0.76088591,  0.66110998,
        -0.85485041],
       [-0.65450392,  1.22474487, -0.41323882, -0.76088591, -0.28333285,
         1.1697953 ],
       [-0.04260621,  1.22474487,  0.07612294, -0.76088591, -0.28333285,
        -0.85485041],
       [-0.4913312 , -0.81649658, -1.39196233, -0.76088591,  0.66110998,
        -0.85485041],
       [ 0.89563694, -0.81649658,  0.07612294, -0.76088591,  1.6055528 ,
        -0.85485041],
       [-1.18481526,  1.22474487,  0.07612294,  1.31425748, -1.22777567,
        -0.85485041],
       [-0.98084936, -0.81649658, -0.41323882,  1.31425748, -1.22777567,
        -0.85485041],
       [ 0.85484376, -0.81649658,  0.07612294, -0.76088591, -0.28333285,
        -0.85485041],
       [ 0.89563694, -0.81649658, -1.39196233, -0.76088591,  1.6055528 ,
         1.1697953 ],
       [-0.73609028, -0.81649658, -0.90260057,  1.31425748,  0.66110998,
        -0.85485041],
       [ 0.85484376,  1.22474487,  0.5654847 , -0.76088591, -1.22777567,
         1.1697953 ],
       [ 0.32453241,  1.22474487,  1.54420821, -0.76088591, -1.22777567,
        -0.85485041],
       [ 1.09960284,  1.22474487,  1.05484645,  1.31425748,  0.66110998,
         1.1697953 ],
       [ 1.05880966, -0.81649658,  1.05484645, -0.76088591,  0.66110998,
         1.1697953 ],
       [-0.12419257, -0.81649658, -1.39196233,  1.31425748, -0.28333285,
        -0.85485041],
       [ 0.85484376, -0.81649658, -1.39196233, -0.76088591, -1.22777567,
         1.1697953 ],
       [-1.26640162,  1.22474487, -1.39196233,  1.31425748, -1.22777567,
        -0.85485041],
       [ 1.22198238,  1.22474487, -1.39196233, -0.76088591, -1.22777567,
         1.1697953 ],
       [ 1.14039602, -0.81649658, -1.39196233,  1.31425748,  0.66110998,
         1.1697953 ],
       [ 1.50753465, -0.81649658, -1.39196233, -0.76088591, -0.28333285,
         1.1697953 ],
       [-1.22560844, -0.81649658, -0.41323882,  1.31425748,  0.66110998,
        -0.85485041],
       [-0.98084936, -0.81649658, -0.41323882, -0.76088591,  0.66110998,
         1.1697953 ],
       [-0.40974483, -0.81649658,  0.5654847 ,  1.31425748, -0.28333285,
        -0.85485041],
       [-1.1032289 ,  1.22474487,  1.54420821, -0.76088591,  0.66110998,
        -0.85485041],
       [-1.14402208,  1.22474487,  0.07612294, -0.76088591, -0.28333285,
         1.1697953 ],
       [ 1.62991419,  1.22474487,  1.05484645, -0.76088591,  0.66110998,
        -0.85485041],
       [-0.36895165, -0.81649658,  0.07612294,  1.31425748, -0.28333285,
         1.1697953 ],
       [-0.6952971 , -0.81649658, -1.39196233, -0.76088591,  0.66110998,
        -0.85485041],
       [ 1.26277556,  1.22474487,  0.5654847 , -0.76088591,  1.6055528 ,
         1.1697953 ],
       [ 1.58912101, -0.81649658,  0.5654847 ,  1.31425748, -1.22777567,
        -0.85485041],
       [-0.20577893, -0.81649658,  0.07612294, -0.76088591, -1.22777567,
        -0.85485041],
       [ 0.48770514,  1.22474487, -0.41323882, -0.76088591,  0.66110998,
        -0.85485041],
       [ 0.24294605, -0.81649658,  0.07612294, -0.76088591, -0.28333285,
         1.1697953 ],
       [ 0.28373923, -0.81649658,  1.05484645, -0.76088591,  0.66110998,
        -0.85485041],
       [ 0.24294605, -0.81649658,  0.5654847 , -0.76088591, -0.28333285,
        -0.85485041],
       [-0.65450392,  1.22474487, -0.41323882, -0.76088591, -0.28333285,
         1.1697953 ],
       [-0.85846982, -0.81649658, -0.90260057, -0.76088591, -1.22777567,
         1.1697953 ],
       [-0.94005618,  1.22474487,  0.5654847 ,  1.31425748, -0.28333285,
        -0.85485041],
       [ 1.1811892 ,  1.22474487, -0.90260057, -0.76088591, -1.22777567,
        -0.85485041],
       [-0.98084936, -0.81649658,  0.07612294, -0.76088591,  1.6055528 ,
        -0.85485041],
       [-1.02164254, -0.81649658,  1.54420821, -0.76088591, -1.22777567,
        -0.85485041],
       [ 0.93643012,  1.22474487, -0.90260057,  1.31425748, -1.22777567,
        -0.85485041],
       [ 0.03898015,  1.22474487,  1.54420821, -0.76088591,  1.6055528 ,
        -0.85485041],
       [-0.98084936,  1.22474487,  0.07612294, -0.76088591, -0.28333285,
         1.1697953 ],
       [-1.3071948 , -0.81649658, -0.41323882,  1.31425748,  0.66110998,
         1.1697953 ],
       [ 0.16135969, -0.81649658, -0.41323882,  1.31425748, -1.22777567,
         1.1697953 ],
       [ 1.62991419,  1.22474487, -1.39196233, -0.76088591, -0.28333285,
         1.1697953 ],
       [ 0.69167104, -0.81649658, -0.90260057, -0.76088591,  1.6055528 ,
         1.1697953 ],
       [ 1.54832783, -0.81649658,  0.07612294, -0.76088591,  1.6055528 ,
         1.1697953 ],
       [ 0.24294605, -0.81649658, -0.90260057,  1.31425748, -1.22777567,
        -0.85485041],
       [-0.81767664,  1.22474487, -1.39196233,  1.31425748,  1.6055528 ,
         1.1697953 ],
       [-1.51116071, -0.81649658,  1.54420821, -0.76088591,  0.66110998,
         1.1697953 ],
       [-0.77688346, -0.81649658,  0.5654847 ,  1.31425748, -1.22777567,
         1.1697953 ],
       [ 1.54832783, -0.81649658, -1.39196233,  1.31425748,  1.6055528 ,
        -0.85485041],
       [ 0.52849832, -0.81649658,  1.54420821,  1.31425748, -1.22777567,
         1.1697953 ],
       [-1.34798798,  1.22474487, -0.41323882, -0.76088591, -1.22777567,
        -0.85485041],
       [-0.04260621,  1.22474487,  1.54420821, -0.76088591,  1.6055528 ,
        -0.85485041],
       [ 1.05880966, -0.81649658,  0.5654847 , -0.76088591, -1.22777567,
        -0.85485041],
       [ 0.32453241,  1.22474487,  1.54420821, -0.76088591,  0.66110998,
        -0.85485041],
       [ 0.89563694,  1.22474487, -0.90260057, -0.76088591, -1.22777567,
        -0.85485041],
       [ 0.44691195, -0.81649658,  1.54420821,  1.31425748,  0.66110998,
        -0.85485041],
       [ 1.22198238, -0.81649658,  1.05484645, -0.76088591, -0.28333285,
        -0.85485041],
       [ 1.01801648, -0.81649658,  0.07612294,  1.31425748, -0.28333285,
        -0.85485041],
       [ 1.30356874, -0.81649658,  1.54420821,  1.31425748, -0.28333285,
        -0.85485041],
       [ 1.62991419, -0.81649658,  0.07612294, -0.76088591,  0.66110998,
        -0.85485041],
       [-0.36895165,  1.22474487, -1.39196233,  1.31425748,  0.66110998,
         1.1697953 ],
       [-0.36895165, -0.81649658,  1.54420821,  1.31425748, -0.28333285,
        -0.85485041],
       [-1.55195389,  1.22474487,  0.5654847 , -0.76088591,  0.66110998,
         1.1697953 ],
       [ 1.50753465,  1.22474487, -0.41323882, -0.76088591, -1.22777567,
         1.1697953 ],
       [-1.42957435, -0.81649658,  0.07612294, -0.76088591,  0.66110998,
        -0.85485041],
       [-1.3071948 ,  1.22474487, -0.41323882, -0.76088591, -1.22777567,
         1.1697953 ],
       [ 0.20215287, -0.81649658,  1.05484645, -0.76088591,  0.66110998,
         1.1697953 ],
       [-1.18481526, -0.81649658, -0.90260057, -0.76088591,  1.6055528 ,
         1.1697953 ],
       [ 0.89563694,  1.22474487, -0.90260057, -0.76088591, -0.28333285,
        -0.85485041],
       [-0.77688346,  1.22474487, -1.39196233, -0.76088591,  0.66110998,
         1.1697953 ],
       [-1.06243572, -0.81649658,  1.54420821, -0.76088591,  0.66110998,
        -0.85485041],
       [ 1.05880966, -0.81649658, -1.39196233,  1.31425748,  1.6055528 ,
        -0.85485041],
       [-1.1032289 , -0.81649658,  1.05484645, -0.76088591, -1.22777567,
         1.1697953 ],
       [-0.73609028,  1.22474487,  1.54420821, -0.76088591, -1.22777567,
         1.1697953 ],
       [ 0.16135969,  1.22474487,  0.07612294,  1.31425748, -1.22777567,
        -0.85485041],
       [-1.55195389, -0.81649658, -0.41323882, -0.76088591,  0.66110998,
        -0.85485041],
       [ 0.12056651,  1.22474487,  1.05484645,  1.31425748, -1.22777567,
        -0.85485041],
       [ 0.65087786, -0.81649658, -0.90260057,  1.31425748, -0.28333285,
        -0.85485041],
       [ 1.58912101, -0.81649658,  0.5654847 ,  1.31425748,  0.66110998,
        -0.85485041],
       [-0.65450392,  1.22474487, -0.41323882, -0.76088591,  0.66110998,
         1.1697953 ],
       [-1.26640162, -0.81649658,  1.54420821, -0.76088591, -1.22777567,
        -0.85485041],
       [ 0.32453241, -0.81649658,  0.07612294,  1.31425748,  0.66110998,
         1.1697953 ],
       [-0.94005618, -0.81649658,  0.07612294, -0.76088591, -1.22777567,
        -0.85485041],
       [-1.55195389, -0.81649658, -1.39196233,  1.31425748,  1.6055528 ,
        -0.85485041],
       [-1.34798798, -0.81649658, -1.39196233,  1.31425748,  0.66110998,
         1.1697953 ]])

In [57]:
df_new=pd.DataFrame(df_sc,columns=df.columns)

In [58]:
np.round(df.describe(),1)

        age  gender  fever  cough  city  has_covid
count  90.0    90.0   90.0   90.0  90.0       90.0
mean   43.0     0.4  100.8    0.4   1.3        0.4
std    24.7     0.5    2.1    0.5   1.1        0.5
min     5.0     0.0   98.0    0.0   0.0        0.0
25%    19.2     0.0   99.0    0.0   0.0        0.0
50%    45.0     0.0  101.0    0.0   1.0        0.0
75%    65.0     1.0  102.8    1.0   2.0        1.0
max    83.0     1.0  104.0    1.0   3.0        1.0

In [59]:
x=df.drop(columns=['has_covid'],axis=1)
y=df['has_covid']

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)

In [63]:
print(df.shape)
print(x.shape)
print(y.shape)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(90, 6)
(90, 5)
(90,)
(72, 5)
(72,)
(18, 5)
(18,)

In [65]:
from sklearn.preprocessing import MinMaxScaler

mn=MinMaxScaler

In [68]:
mn=MinMaxScaler()

In [69]:
x_train_mn=mn.fit_transform(x_train)

In [71]:
x_test_mn=mn.fit_transform(x_test)

In [72]:
y_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [73]:
np.round(x_train_new.describe(),1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean      0.5     0.4       0.2
std       0.3     0.2       0.2
min       0.0     0.0       0.0
25%       0.2     0.3       0.0
50%       0.5     0.4       0.2
75%       0.7     0.5       0.4
max       1.0     1.0       1.0

# (2).OrdinalEncoder

In [75]:
df=pd.read_csv("C:\\Users\\us\\OneDrive\\Desktop\\regexml\\covid_toy.csv")

In [76]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [77]:
df=df.drop(columns=['age','fever'])

In [78]:
df.head()

   gender cough     city has_covid
0    Male  Mild  Kolkata        No
1    Male  Mild    Delhi       Yes
2    Male  Mild    Delhi        No
3  Female  Mild  Kolkata        No
4  Female  Mild   Mumbai        No

In [79]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [80]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [81]:
df['gender'].value_counts()

Female    59
Male      41
Name: gender, dtype: int64

In [82]:
df['has_covid'].value_counts()

No     55
Yes    45
Name: has_covid, dtype: int64

In [84]:
from sklearn.preprocessing import OrdinalEncoder

In [90]:
oe=OrdinalEncoder(categories=[['Male','Female'],['Mild','Strong'],['Kolkata','Bangalore','Delhi','Mumbai'],['Yes','No']])

In [91]:
oe

OrdinalEncoder(categories=[['Male', 'Female'], ['Mild', 'Strong'],
                           ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'],
                           ['Yes', 'No']])

In [92]:
oe.fit(df)

OrdinalEncoder(categories=[['Male', 'Female'], ['Mild', 'Strong'],
                           ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'],
                           ['Yes', 'No']])

In [93]:
df_new=oe.transform(df)

In [94]:
oe.categories_

[array(['Male', 'Female'], dtype=object),
 array(['Mild', 'Strong'], dtype=object),
 array(['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'], dtype=object),
 array(['Yes', 'No'], dtype=object)]

In [97]:
df=pd.DataFrame(df_new,columns=df.columns)

# ********************************************************************************************************

In [33]:
df2=pd.read_csv('C:\\Users\\us\\OneDrive\\Desktop\\regexml\\insurance.csv')

In [34]:
df2.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [35]:
df2=df2.dropna()

In [38]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [39]:
lb = LabelEncoder()
df2['sex'] = lb.fit_transform(df2['sex'])
df2['smoker'] = lb.fit_transform(df2['smoker'])
df2['region'] = lb.fit_transform(df2['region'])
df2.sample(5)

      age  sex     bmi  children  smoker  region      charges
1051   64    1  26.410         0       0       0  14394.55790
1009   51    1  27.740         1       0       0   9957.72160
495    20    1  27.930         0       0       0   1967.02270
1192   58    0  32.395         1       0       0  13019.16105
601    51    1  31.635         0       0       1   9174.13565

In [40]:
df2 = df2.drop(columns = ['sex', 'smoker', 'region'])

In [41]:
x= df2.drop(columns = ['charges'], axis = 1)
y= df2['charges'] 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [42]:
from sklearn.preprocessing import MinMaxScaler
mn = MinMaxScaler()
x_train_mn = mn.fit_transform(x_train)
x_train_new = pd. DataFrame(x_train_mn, columns = x_train.columns)
np.round(x_train.describe(), 1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean     39.4    30.6       1.1
std      14.1     6.0       1.2
min      18.0    16.0       0.0
25%      27.0    26.2       0.0
50%      39.5    30.2       1.0
75%      51.0    34.5       2.0
max      64.0    53.1       5.0

In [43]:
np.round(x_train_new.describe(), 1)

          age     bmi  children
count  1070.0  1070.0    1070.0
mean      0.5     0.4       0.2
std       0.3     0.2       0.2
min       0.0     0.0       0.0
25%       0.2     0.3       0.0
50%       0.5     0.4       0.2
75%       0.7     0.5       0.4
max       1.0     1.0       1.0