# naive bayesian classifier

In [31]:
import numpy as np
import pandas as pd

In [32]:
df=pd.read_csv("C:\\Users\\us\\OneDrive\\Desktop\\regexml\\social_network_ads.csv", usecols = ['Age', 'EstimatedSalary','Purchased'])

In [33]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [34]:
x=df.drop(columns=['Purchased'])  #INDEPENDENT COLUMN
y=df['Purchased']

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=23)

In [37]:
from sklearn.preprocessing import StandardScaler

In [38]:
sc=StandardScaler()

In [39]:
x_train_new=sc.fit_transform(x_train)

In [40]:
x_test_new=sc.transform(x_test)

In [41]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
classifier=GaussianNB()

In [42]:
classifier.fit(x_train_new,y_train)

GaussianNB()

In [43]:
y_pred=classifier.predict(x_test_new)

In [44]:
y_pred

array([0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0], dtype=int64)

In [45]:
from sklearn.metrics import confusion_matrix

In [46]:
cn=confusion_matrix(y_test,y_pred)

In [47]:
cn  #[[tp , fn 
#       fp , tn]]

array([[48,  2],
       [ 5, 25]], dtype=int64)

In [48]:
from sklearn.metrics import accuracy_score

In [49]:
accuracy_score(y_test,y_pred)

0.9125