In [1]:
# RandomForest Model ===> Supervised ML Model 

# 1 R.F.  ===> `100 DECISIO TREE MODEL 

# Target data Categorical ===> R.F.Classifier() ====> 100 dt ===> 70 yes , 30 no ===>
# majority ==> final prediction (yes)

# Target data Numerical ====>  R.F.Regressor() ====> mean > value ===> final prediction

In [4]:
import numpy as np 
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\us\\OneDrive\\Desktop\\regexml\\social_network_ads.csv")

In [6]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
lb = LabelEncoder()

In [9]:
df['Gender'] = lb.fit_transform(df['Gender'])

In [10]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [11]:
x = df.drop(columns = ['Purchased'] , axis = 1)
y = df['Purchased']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
rf = RandomForestClassifier()

In [16]:
rf.fit(x_train , y_train)

RandomForestClassifier()

In [17]:
y_pred = rf.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy_score(y_test , y_pred)

0.9125

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
lr = LogisticRegression()

In [22]:
lr.fit(x_train , y_train)

LogisticRegression()

In [23]:
y_pred = lr.predict(x_test)

In [24]:
accuracy_score(y_test , y_pred)

0.7375

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
dt = DecisionTreeClassifier()

In [27]:
dt.fit(x_train , y_train)

DecisionTreeClassifier()

In [28]:
y_pred = dt.predict(x_test)

In [29]:
accuracy_score(y_test , y_pred)

0.8875

# RANDOMFORESTREGRESSOR

In [30]:
df = pd.read_csv("C:\\Users\\us\\OneDrive\\Desktop\\regexml\\tips.csv")

In [31]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
lb = LabelEncoder()

In [34]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [35]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [36]:
x = df.drop(columns = ['total_bill'] , axis = 1)
y = df['total_bill']

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
lr= LinearRegression()

In [40]:
lr.fit(x_train , y_train)

LinearRegression()

In [41]:
y_pred = lr.predict(x_test)

In [42]:
from sklearn.metrics import r2_score

In [43]:
r2_score(y_test , y_pred)

0.5626536669422029

In [44]:
from sklearn.tree import DecisionTreeRegressor

In [45]:
dt = DecisionTreeRegressor()

In [46]:
dt.fit(x_train , y_train)

DecisionTreeRegressor()

In [47]:
y_pred= dt.predict(x_test)

In [48]:
r2_score(y_test , y_pred)

0.5604395604395604

In [49]:
from sklearn.ensemble import RandomForestClassifier

In [50]:
rf = RandomForestClassifier()

In [51]:
rf.fit(x_train , y_train)

RandomForestClassifier()

In [52]:
y_pred = rf.predict(x_test)

In [53]:
r2_score(y_test , y_pred)

0.7252747252747254